* {
    font-family: 'Pretendard';
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
}

a,
strong, 
span, 
em {
    display: block;
}

ul,ol,li {
    list-style-type: none;
}

button {
    outline: none;
}

